<div id="heading">
  <div id="heading-left">
    <h1>
      {{title}}
    </h1>
    <h5>THE GLOBAL AUTHORITY ON PC GAMES</h5>
  </div>
  <div id="heading-right">
    <p>SOCIAL MEDIA ICONS</p>
  </div>
</div>
<div class="nav-bar">
  <img src="" alt="Home Icon">
  <h6>News</h6>
  <h6>Hardware</h6>
  <h6>Indie</h6>
  <h6>Pro</h6>
  <h6>Best Of</h6>
  <h6>Magazine</h6>
  <h6>Board Games</h6>
  <h6><label>More<select>
    <option value=""></option>
    <option value="">Podcasts</option>
    <option value="">Meet the team</option>
    <option value="">Newsletter Signup</option>
    <option value="">Community Guidelines</option>
    <option value="">Affiliate Links</option>
    <option value="">About PC Gamer</option>
  </select></label></h6>
</div>
<div class="body-container">
  <div class="empty">
  </div>
  <div class="main-body">
    <div class="nav-bar">
      <h6>POPULAR</h6>
      <h6>Battlefield 5</h6>
      <h6>COD: Black Ops 4</h6>
      <h6>Rainbow Six Siege</h6>
      <h6>Fortnite</h6>
      <h6>Games of Summer</h6>
      <h6>PCG Club</h6>
    </div>
    <div class="grid">
      <div id="main-story" class="story">
        <h6 class="blurb">GO PRO</h6>
        <div class="thumbnail">
          <img src="https://cdn.mos.cms.futurecdn.net/xdcPtestjJHLDAJEgWhDeR-600-80.jpg" alt="thumbnail">
        </div>
        <h5 class="headline">How hiring a pro Overwatch coach made me a better player</h5>
      </div>
      <div class="story">
        <h6 class="blurb">GO PRO</h6>
        <img class="thumbnail" src="" alt="thumbnail">
        <h5 class="headline">How hiring a pro Overwatch coach made me a better player</h5>
      </div>
      <div class="story">
        <h6 class="blurb">GO PRO</h6>
        <img class="thumbnail" src="" alt="thumbnail">
        <h5 class="headline">How hiring a pro Overwatch coach made me a better player</h5>
      </div>
      <div class="story">
        <h6 class="blurb">GO PRO</h6>
        <img class="thumbnail" src="" alt="thumbnail">
        <h5 class="headline">How hiring a pro Overwatch coach made me a better player</h5>
      </div>
      <div class="story">
        <h6 class="blurb">GO PRO</h6>
        <img class="thumbnail" src="" alt="thumbnail">
        <h5 class="headline">How hiring a pro Overwatch coach made me a better player</h5>
      </div>
      <div id="news-feed">
        <h4>News Stream</h4>
        <ul>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="empty">
  </div>
</div>
