/* You can add global styles to this file, and also import other style files */
body {
  background: url(https://tpc.googlesyndication.com/pagead/imgad?id=CICAgKCb1PHAYBABGAEyCCKl03Vg27vT&quot;);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
